* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: floralwhite;
    font-weight: 300;
}


.background {
    background-image: url(./images/background-for-site-1.png);
}
/*HEADER*/
.logo {
    /*background-color: black;*/
    display: flex;
    justify-content: center;
    padding-top: 55px;
}
/*MERCHANDISE CAPS AND HOODIES*/
.main {
    padding-top: 15px;
    /*background-color: black;*/
    height: 43.3vh;
    display: flex;
    justify-content: center;
}

/*FOOTER*/
.footer a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: floralwhite;
    font-weight: 300;
}


.footer {
    height: 40vh;
}
/*FOUR SYMBOLS*/
.symbols {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 48px;
}

.swansong {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}
/*BRAND NEW HODDIES AND HATS ONLINE*/
.newmerch {
    padding-top: 15px;
    padding-bottom: 70px;
/*    background-color: black;*/
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.last_line {
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

/*BUTTONS*/
.buttons {
    
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap:wrap; 
    padding-bottom: 60px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;        
}


.btn1  {
    padding: 13px 35px; /*set padding around button 13 height 28 width*/
    background-color: blanchedalmond;
    border: none; /*set no border*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px; /*set font size on button*/
    font-weight: 600; /*set how dark font is*/
    
}

.btn2  {
    padding: 13px 35px; /*set padding around button 13 height 28 width*/
    background-color:dimgray; /*set background colour of button*/
    border: none; /*set no border*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px; /*set font size on button*/
    font-weight: 600; /*set how dark font is*/
}
