/*font for box 1*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Times New Roman', Times, serif'
}

.background {
    background-image: url(./images/background-for-site-1.png);
}

 .main-content {
     height: 100vh;
     /*background-color: red;*/
 }


/*Top of page LED ZEPPELIN logo*/
.logo {
    /*background-color: black;*/
    display: flex;
    justify-content: center;
    padding-top: 56px;
}
/*MERCHANDISE CAPS AND HOODIES*/
.merch {
    padding-top: 15px;
    /*background-color: black;*/
    display: flex;
    justify-content: center;
}

.merchtxt {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

/*BRAND NEW HODDIES AND HATS ONLINE*/
.newmerch {
    padding-top: 0px;
    padding-bottom: 70px;
/*    background-color: black;*/
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}
/*BUTTONS*/
.buttons {
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap:wrap; 
    padding-top: 75px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn1  {
    padding: 12px 20px; /*set padding around button 13 height 28 width*/
    background-color:#f8e2cb;
    border: none; /*set no border*/
    font-size: 20px; /*set font size on button*/
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif'

    font-weight: 600; /*set how dark font is*/
    border-radius: 5px;    
}

.btn1 a {
    text-decoration: none;
    color: black;

}

.btn2  {
    padding: 12px 20px; /*set padding around button 13 height 28 width*/
    background-color:  #343a40; /*set background colour of button*/         /*NOTE Change font on button 2*/
    border: none; /*set no border*/
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

    font-size: 20px; /*set font size on button*/
    font-weight: 500; /*set how dark font is*/
    border-radius: 5px;
}

.btn2 a {
    text-decoration: none;
    color: white;
    font-size: 20px;

}

/*FOUR SYMBOLS*/
.symbols {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 105px;
}

.swansong {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px;
}





/*FOOTER STYLE*/
.footer a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: floralwhite;
    font-weight: 300;
}

.footer {
    /*background-color: royalblue;*/
}

.last_line_txt {
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 10px;
    color: white;
    font-weight: 800;


}

.last_line a  {
    text-decoration: none;
    font-weight: 400;
}





